name: Bump Versions

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: '0 * * * *' # hourly
  workflow_dispatch:

jobs:
  bump-versions:
    name: Bump Package Versions
    #runs-on: [x64, qemu-host]
    runs-on: ubuntu-latest
    container:
      image: homebrew/brew
      options: --user root
    timeout-minutes: 10
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}

    - name: Setup homebrew tap and git config
      run: |
        mkdir /home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/viamrobotics
        ln -s $(pwd) /home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/viamrobotics/homebrew-brews
        git config --global --add safe.directory '*'
        git config --global url."https://github.com/".insteadOf git@github.com:

    - name: Bump viam-server
      run: ./bump-version.sh viam-server

    - name: Bump carto-grpc-server
      run: ./bump-version.sh carto-grpc-server

    - name: Bump orb-grpc-server
      run: ./bump-version.sh orb-grpc-server

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Auto-update of package versions
